<div class="container" >
  <!-- <div class="container bg-dark text-white"> -->
    <h1  style="text-align:center">Registration Form</h1>
    <div class="form-horizontal" action="/action_page.php">
      <div class="form-group">
        <label class="control-label col-sm-2" for="txtFirstName">FirstName:</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" [(ngModel)]="student.FirstName"  id="txtFirstName" placeholder="Enter Your FirstName">
      </div>
      </div>
        <div class="form-horizontal">
           <div class="form-group">
               <label class="control-label col-sm-2" for="txtLastName">LastName:</label>
               <div class="col-sm-6">
                 <input type="text" [(ngModel)]="student.LastName"  class="form-control" id="txtLastName" placeholder="Enter Your LastName">
                </div>
              </div>
        </div>


        <div class="form-horizontal">
            <div class="form-group">
              <label class="control-label col-sm-2" for="txtDob">Dob:</label>
              <div class="col-sm-6">
                <input type="date" [(ngModel)]="student.Dob" class="form-control" id="txtdate" placeholder="Enter Your Dob">
              </div>
            </div>

            <div class="form-horizontal">
                <div class="form-group">
                  <label class="control-label col-sm-2" for="txtAge">Age:</label>
                  <div class="col-sm-6">
                    <input type="number" [(ngModel)]="student.Age"  class="form-control" id="numberAge" placeholder="Enter Your Age">
                  </div>
                </div>
                  <div class="form-horizontal">
                    <div class="form-group">
                      <label class="control-label col-sm-2" for="numPhoneNumber">PhoneNumber:</label>
                      <div class="col-sm-6">
                        <input type="number" [(ngModel)]="student.PhoneNumber"  class="form-control" id="numPhoneNumber" placeholder="Enter Your PhoneNumber">
                      </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- </div> -->
<!-- </div> -->





<div style="text-align:centre;">


  <button type="button"  (click)="AddStudent()" class="btn btn-primary">Save</button>
  <button type="button" (click)="UpdateStudent()" class="btn btn-primary" >Update</button>
</div>

 <!-- <div class="container"> -->

    <table class="table table-striped">
      <thead>
        <tr>
          <th >StudentId</th>
          <th >FirstName</th>
          <th>LastName</th>
          <th>Dob</th>
          <th>Age</th>
          <th>PhoneNumber</th>
          <th>Action1</th>
          <th>Action2</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let class of allStudent">
          <td>{{class.StudentId}}</td>
          <td>{{class.FirstName}}</td>
          <td>{{class.LastName}}</td>
          <td>{{class.Dob}}</td>
          <td>{{class.Age}}</td>
          <td>{{class.PhoneNumber}}</td>
          <td><button type="button" (click)="GetStudentById(class.StudentId)" class="btn btn-primary" >Edit</button></td>
        <td><button type="button" (click)="DeleteStudent(class.StudentId)" class="btn btn-danger">Delete</button></td>

        </tr>
      </tbody>
    </table>
  </div>
</div>





